@media (max-width: 800px) {
  header {
    height: 95vh;
    .container {
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      .text {
        h1 {
          font-size: 12rem;
        }
      }
      model-viewer {
        width: 400px;
        height: 400px;
      }
    }
  }
}
