@import "config";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
}

header {
  height: 95vh;
  .container {
    padding-top: 10rem;
    max-width: $container-width;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .text {
      font-family: "Crete Round", serif;
      h1 {
        font-size: 12rem;
        color: $main-color;
        animation: h1fly 5s forwards ease-out;
      }

      .subtext {
        animation: h1fly 5s forwards ease-out;
        display: flex;
        justify-content: space-around;
        align-items: center;
        p {
          color: $main-color;
          display: inline-block;
        }
        .icons {
          i {
            color: $main-color;
            display: inline-block;
            padding: 0 0.5rem;
          }
        }
      }
    }
  }

  model-viewer {
    animation: modelfly 1s forwards ease-out;
    animation-delay: 4s;
    transform: translateX(-350px);
    width: 400px;
    height: 400px;
  }
}

header {
  position: relative;
  #particles-js {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
  }
}

footer {
  display: flex;
  justify-content: space-around;
  max-width: $container-width;
  margin: 0 auto;
  height: 5vh;
  color: $main-color;
  a {
    color: $main-color;
  }
}

@keyframes h1fly {
  0% {
    transform: translateX(-1000px);
  }

  80% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes modelfly {
  0% {
    transform: translateX(-350px);
  }

  50% {
    transform: translateX(-350px);
  }

  100% {
    display: block;
    transform: translateX(0);
  }
}
